body {
  background-image: url("https://cdn.mos.cms.futurecdn.net/ZxMaZq2VfVKj7Lbo5y7dLR-970-80.jpg.webp");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 60px;
  background-color: black;
  color:  white;
  font-family: 'Courier New', Courier, monospace;
 }
 
h1 {
  font-weight: bolder;
  font-size: 28;
}

h2 {
  font-size: 22;
}

label {
  font-size: 16;
}

#ageResponse {
  display: none;
}

#lifeResponse { 
  display: none;
}

.container{
  background-color: rgb(48, 0, 126);
  text-align: center;
}